{% extends 'base.html' %}

{% block body %}
<section class="bg-light py-3 py-md-5 mt-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="text-center mb-3">
                            <a href="#">
                                <img src="{{ url_for('static', filename='img/logobm.png') }}" alt="BootstrapBrain Logo"
                                    width="100" height="100">
                            </a>
                        </div>
                        <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Adicionar Motorista</h2>
                        <form method="POST" class="row g-3" enctype="multipart/form-data">
                            {{ form_motorista.csrf_token }}
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_motorista.nome_completo.label(class="form-control-label") }}
                                    {% if form_motorista.nome_completo.errors %}
                                    {{ form_motorista.nome_completo(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_motorista.nome_completo.errors %}
                                        {{ erro }}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form_motorista.nome_completo(class="form-control") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_motorista.matricula.label(class="form-control-label") }}
                                    {% if form_motorista.matricula.errors %}
                                    {{ form_motorista.matricula(class="form-control is-invalid", readonly=true) }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_motorista.matricula.errors %}
                                        {{ erro }}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form_motorista.matricula(class="form-control", readonly=true) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form_motorista.posto_grad_id.label(class="form-control-label") }}
                                    {% if form_motorista.posto_grad_id.errors %}
                                    {{ form_motorista.posto_grad_id(class="form-control is-invalid", readonly=true) }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_motorista.posto_grad_id.errors %}
                                        {{ erro }}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form_motorista.posto_grad_id(class="form-control", readonly=true,
                                    id="posto_grad_id") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_motorista.categoria_id.label(class="form-control-label") }}
                                    {% if form_motorista.categoria_id.errors %}
                                    {{ form_motorista.categoria_id(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_motorista.categoria_id.errors %}
                                        {{ erro }}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form_motorista.categoria_id(class="form-control") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_motorista.obm_id_1.label(class="form-control-label") }}
                                    {% if form_motorista.obm_id_1.errors %}
                                    {{ form_motorista.obm_id_1(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form.obm_id_1.errors %}
                                        {{ erro }}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form_motorista.obm_id_1(class="form-control", readonly = true) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_motorista.boletim_geral.label(class="form-control-label") }}
                                    {% if form_motorista.boletim_geral.errors %}
                                    {{ form_motorista.boletim_geral(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_motorista.boletim_geral.errors %}
                                        {{ erro }}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form_motorista.boletim_geral(class="form-control") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_motorista.siged.label(class="form-control-label") }}
                                    {% if form_motorista.siged.errors %}
                                    {{ form_motorista.siged(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_motorista.siged.errors %}
                                        {{ erro }}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form_motorista.siged(class="form-control") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_motorista.vencimento_cnh.label(class="form-control-label") }}
                                    {% if form_motorista.vencimento_cnh.errors %}
                                    {{ form_motorista.vencimento_cnh(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_motorista.vencimento_cnh.errors %}
                                        {{ erro }}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form_motorista.vencimento_cnh(class="form-control") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_motorista.cnh_imagem.label(class="form-control-label") }}
                                    <input type="file" id="cnhInput" name="cnh_imagem" class="form-control">
                                    <br>
                                    <img id="cnhPreview" src="#" alt="Prévia da CNH" class="img-thumbnail mt-2"
                                        style="max-width: 500px; display: none;">

                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-grid my-3">
                                    {{ form_motorista.botao_salvar_motorista(class="btn btn-outline-primary
                                    mt-2") }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    // Receber os dados dos militares da rota Flask
    const militares = {{ militares | tojson }};
    console.log("Dados dos militares:", militares);

    // Função para atualizar os campos automaticamente
    document.getElementById('nome_completo').addEventListener('change', function () {
        const nomeCompletoSelect = document.getElementById('nome_completo');
        const militarId = nomeCompletoSelect.value;
        console.log("ID do militar selecionado:", militarId);

        if (militarId) {
            const militar = militares[parseInt(militarId)];
            console.log("Militar selecionado:", militar);

            // Atualizar os campos com os dados do militar
            document.getElementById('matricula').value = militar.matricula || '';
            document.getElementById('obm_id_1').value = militar.obm_id_1 || '';
            document.getElementById('posto_grad_id').value = militar.posto_grad_id || '';
        } else {
            // Limpar os campos caso nenhum militar seja selecionado
            document.getElementById('matricula').value = '';
            document.getElementById('obm_id_1').value = '';
            document.getElementById('posto_grad_id').value = '';
        }
    });
</script>

<script>
    document.getElementById("cnhInput").addEventListener("change", function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var preview = document.getElementById("cnhPreview");
            preview.src = reader.result;
            preview.style.display = "block";
        }
        reader.readAsDataURL(event.target.files[0]);
    });
</script>
{% endblock %}
