{% extends 'base.html' %}

{% block body %}
<section class="py-3 py-md-5 mt-2">
    <div class="mt-3">
        <h3>Militares</h3>
        <button style="text-decoration: none" href="#" class="btn btn-primary" id="btn-filtro" data-bs-toggle="modal"
                data-bs-target="#filtrarMilitar">Filtros avançados
        </button>
        <form method="get" action="{{ url_for('militares') }}">
            <input type="text" name="search" placeholder="Buscar militar..."
                   value="{{ request.args.get('search', '') }}" class="form-control mb-3" style="width: 300px;">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <div class="table-responsive">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Nome de Guerra</th>
                    <th>Posto/Grad</th>
                    <th>Quadro</th>
                    <th>CPF</th>
                    <th>RG</th>
                    <th>Matrícula</th>
                    <th>OBMs</th>
                    <th>Funções</th>
                </tr>
                </thead>
                <tbody>
                {% for militar in militares %}
                <tr>
                    <td><a href="/exibir-militar/{{ militar.id }}">{{ militar.nome_completo }}</a></td>
                    <td>{{ militar.nome_guerra }}</td>
                    <td>{{ militar.posto_grad }}</td>
                    <td>{{ militar.quadro }}</td>
                    <td>{{ militar.cpf }}</td>
                    <td>{{ militar.rg }}</td>
                    <td>{{ militar.matricula }}</td>
                    <td>
                        {% for obm in militar.obms %}
                        {{ obm }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td><!-- Aqui foi aplicado o filtro join -->
                    <td>
                        {% for funcao in militar.funcoes %}
                        {{ funcao }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <nav class="pagination-container">
            <ul class="pagination">
                <li class="page-item {{ 'disabled' if not has_prev }}">
                    <a class="page-link"
                       href="{{ url_for('militares', page=prev_page, search=request.args.get('search', '')) }}">Anterior</a>
                </li>
                <li class="page-item {{ 'disabled' if not has_next }}">
                    <a class="page-link"
                       href="{{ url_for('militares', page=next_page, search=request.args.get('search', '')) }}">Próxima</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<div class="modal fade " id="filtrarMilitar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Filtros Avançados</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3 p-md-4 p-xl-5">
                <form class="row g-3" id="formFiltros" method="POST" action="{{ url_for('tabela_militares') }}">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_militar.obm_ids_1.label(class="form-control-label") }}
                            {{ form_militar.obm_ids_1(class="form-control") }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_militar.posto_grad_id.label(class="form-control-label") }}
                            {{ form_militar.posto_grad_id(class="form-control") }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_militar.quadro_id.label(class="form-control-label") }}
                            {{ form_militar.quadro_id(class="form-control") }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_militar.especialidade_id.label(class="form-control-label") }}
                            {{ form_militar.especialidade_id(class="form-control") }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_militar.localidade_id.label(class="form-control-label") }}
                            {{ form_militar.localidade_id(class="form-control") }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_militar.situacao_id.label(class="form-control-label") }}
                            {{ form_militar.situacao_id(class="form-control") }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_militar.funcao_ids_1.label(class="form-control-label") }}
                            {{ form_militar.funcao_ids_1(class="form-control") }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnEnviarFiltros">Filtrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
