{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            paging: true,  // Desativa a paginação no DataTables
            searching: false,  // Desativa a busca no DataTables
            info: true,  // Desativa as informações de paginação
        });
    });
</script>
{% endblock %}

{% block body %}
<section class="bg-light py-3 py-md-5 mt-2">
    <div class="container mt-3">
        <h2>Relação de Militares</h2>
        <a class="btn btn-primary mb-3" href="{{ url_for('export_excel') }}">Baixar Excel</a>
        <div>
            <p><strong>{{ militares_filtrados_count }}</strong> militares de <strong>{{ total_militares }}</strong>
            </p>
        </div>
        <div class="table-responsive">
            <table id="example" class="table table-bordered table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Nome de Guerra</th>
                    <th>CPF</th>
                    <th>RG</th>
                    <th>Matrícula</th>
                    <th>Posto/Graduação</th>
                    <th>Quadro</th>
                    <th>Especialidade</th>
                    <th>Localidade</th>
                    <th>Situação</th>
                    <th>OBM 1</th>
                    <th>Função 1</th>
                    <th>OBM 2</th>
                    <th>Função 2</th>
                </tr>
                </thead>
                <tbody>
                {% if militares %}
                {% for militar in militares %}
                <tr>
                    <td>
                        <a href="{{ url_for('exibir_militar', militar_id=militar.id) }}">
                            {{ militar.nome_completo }}
                        </a>
                    </td>
                    <td>{{ militar.nome_guerra }}</td>
                    <td>{{ militar.cpf }}</td>
                    <td>{{ militar.rg }}</td>
                    <td>{{ militar.matricula }}</td>
                    <td>{{ militar.posto_grad }}</td>
                    <td>{{ militar.quadro }}</td>
                    <td>{{ militar.especialidade }}</td>
                    <td>{{ militar.localidade }}</td>
                    <td>{{ militar.situacao }}</td>
                    <td>{{ militar.obms[0] if militar.obms|length > 0 else 'N/A' }}</td>
                    <td>{{ militar.funcoes[0] if militar.funcoes|length > 0 else 'N/A' }}</td>
                    <td>{{ militar.obms[1] if militar.obms|length > 1 else 'N/A' }}</td>
                    <td>{{ militar.funcoes[1] if militar.funcoes|length > 1 else 'N/A' }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="14" class="text-center">Nenhum dado encontrado.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

    </div>
</section>
{% endblock %}
